.section.events{
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  display: flex;
  background-color: green;
}
.events-radio:checked + .section.events{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}

.events-radio{
  display: none;
}
