.evenimenteLive{
  background: black;
  height: 100%;
  padding: 1px;
}
.evenimenteLive-desc-wrapper{
  background-image: url(asset/image/Guitar_Fotor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title{
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 6rem;
  text-align: center;
}

.rezervari-date{
  color: white;
}

.evenimenteLive-desc{
  color: white;
  margin: 2rem;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  line-height: 2.5rem;
}

.rezervari-item{
  display: flex;
}
