input.nav-menu(type="checkbox", id="nav-menu")
.section-menu
  .menu-wrapper
    ul.nav-menu-list
      each i in data.bacco.menu.button
        li.nav-menu-item
          a.nav-menu-link(href=`${i.src}`) #{i.label}
