.nav-bar
  ul.nav-btns
    li.nav-btns-item 
      each i in data.bacco.nav
        a.nav-btns-link(href=`/${i.url}`) #{i.title}
  //- .toggle-wrapper
    label.nav-menu-label(for="nav-menu").icon-list
      //- a#toggle-btn(href="#")
        //- span.line
        //- span.line
        //- span.line.short
