@media (min-width: 1000px){
  .nav-btns-item {
    width: 100%;
  }
  .nav-btns-link:nth-child(1):hover {
    background-color: #9c7833;
    color: black;
    transition: 0.5s;
  }
  .nav-btns-link {
    font-size: 0.7rem;
    top: 0.4rem;
    margin: 1rem;
    padding: 1rem;

  }
  // .nav-btns-link:hover {
  //   color: black;
  // }
  .nav-menu-label {
    font-size: 2rem;
  }
}
