input.about-radio(type="radio", name="secitions" id="section-about")
.section.about
  .about-header
    img.about-avatar(src="asset/image/bacco.png")

  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test
  h2 test
  p test test





    
