.section.food-menu{
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}
.food-menu-radio:checked + .section.food-menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}

.food-menu-radio{
  display: none;
}

// .food-menu-wrapper{
//   display: flex;
//   max-width: 100%;
// }

.food-menu-kitchen{
  border: 1px solid red;
  height: 50%;
  background-color: grey;
}
.food-menu-bar{
  border: 1px solid blue;
  height: 50%;
  background-color:green;
}
