.landing-section{
  @extend %section;
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.landing-logo-wrapper{
  max-width: 100%;
}
.landing-avatar{
  max-width:100%;
}

.menu-wrapper{
  display: flex;
  justify-content:space-around;
  max-width: 100%;
  margin-top: 6.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.home-menu-radio{
  text-align: center;
  line-height: 3.75rem;
  font-size: 100%;

}

label.home-menu-radio{
  color: #ecd075;
  // width: 20%;
  // height: 20%;
}

#section-home + label {
  // display: inherit;
  bottom: 0;
}

#section-home:checked + label {
  // display: none;
  bottom: -150px;
}
