.section.landing
  h1 landing page
  input.section-home(type="radio", name="secitions" id="section-home")
  label.home-menu-radio(for="section-about") &times;
  label.home-menu-radio(for="section-contact") &times;
  label.home-menu-radio(for="section-events") &times;
  label.home-menu-radio(for="section-food-menu") &times;
