.section.landing
  h1 landing page
  input.section-home(type="radio", name="secitions" id="section-home")
  label.home-menu-radio(for="section-about") Despre noi
  label.home-menu-radio(for="section-contact") Contact
  label.home-menu-radio(for="section-events") Evenimente
  label.home-menu-radio(for="section-food-menu") Meniu
