@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?578bwl');
  src:  url('fonts/icomoon.eot?578bwl#iefix') format('embedded-opentype'),
    url('asset/fonts/icomoon.ttf?578bwl') format('truetype'),
    url('asset/fonts/icomoon.woff?578bwl') format('woff'),
    url('asset/fonts/icomoon.svg?578bwl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tripadvisor:before {
  content: "\e901";
}
.icon-brand:before {
  content: "\e900";
  color: #589442;
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
