@import 'reset';

html{
  font-size: calc(12px + (24 - 12) * ((100vmin - 400px) / (800 - 400) ));
}

html, body {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  // set the open sans font for all elements
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
}
