doctype
html(lang='en')
  head
    title #{data.bacco.page.pageTitle}
    meta(name="description" content="data.bacco.page.pageDescription")
      if config.entry.css.external
        link(rel="stylesheet", href="style.css",)
  body
    block content
