extends _layout/main
block content
  include _component/about/about
  include _component/food-menu/food-menu
  include _component/events/events
  include _component/contact/contact
  include _component/landing/landing
