extends _layout/main
block content
  .container
    include _component/nav-bar/nav-bar
    include _component/home/home-page
    include _component/nav-menu/nav-menu
    include _component/evenimente/evenimente
    include _component/contact/contact
    include _component/footer/footer
  
