@media (min-width: 1000px){
  
  .logo{
    margin-top: 3rem;
    width: 40%;
  }
  .home-desc{
    width: 40%;
    margin: 1rem;
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 2px;
    font-weight: lighter;
    // font-family: 'Abhaya Libre', serif;
  }

  .floating{
    font-size: 3rem;
  }
  .home-desc-wrapper{
    // height: 20rem;
    background-size: cover;
    height: 100vh;
    }
}
