@media (min-width: 600px){
  .home-desc-wrapper {
    background-size: cover;
    overflow: hidden;
  }
  .home-desc{
    margin: 1.2rem;
  }
  .logo {
    width: 83%;
  }
.evenimente-desc-wrapper {
  background-position: 0px 0px;
  }
}