@media (min-width: 1000px){
  .img-wrapper{
    width: 30%;
    margin: 0 auto;
  }
  .logo{
    margin-top: 2rem;
  }
  .home-desc{
    width: 50%;
    margin: 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    font-weight: lighter;
  }
  .floating{
    font-size: 3rem;
  }
  .home-desc-wrapper{
    height: 20rem;
  }
}
