.section-home
  .section-home-wrapper
    .home-desc-wrapper
      img.logo(src="asset/image/logo5.png")
      .paragraph-wrapper
        for y in data.bacco.description.text
          if y === "paragraph"
          p.home-desc #{y.paragraph}
      a#arrow(href="#")
        span.icon-angle-down.floating
