#home
.section-home
  .section-home-wrapper
    .home-desc-wrapper
      img.logo(src="asset/image/logo5.png")
      .paragraph-wrapper
        for y in data.bacco.home.text
          if y === "paragraph"
          p.home-desc #{y.paragraph}
      a#arrow(href="#contact")
        span.icon-angle-down.floating
