@media(min-width: 1000px){
  .contact-content{
    width: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

    // flex-wrap: wrap;
    // justify-content: space-around;
  }
  .contact{
    display: flex;
  }
  .contact-program{
    width: 90%;
  }
  .contact-details{
    width: 40%;
  }
  .contact-social{
    align-items: center;
  }
  .contact-social-item{
    margin: 1rem;
  }
  .contact-social-icon{
    font-size: 1.5rem;
    padding: 1rem;

  }
  .program-item{
    font-size: .7rem;
  }
  .contact-title{
    font-size: 1rem;
    // text-align: center;
  }
  .days{
    font-size: 0.7rem;
    width: 140px;
  }
  .contact-paragraph{
    font-size: 0.7rem;
  }
  .contact-details-item{
    font-size: 0.7rem;
  }
  .contact-details-link a{
    font-size: 0.7rem;
  }
  .get-directions{
    margin-top: .5rem;
  }
  .directions-input1{
    width: 90%;
    font-size: 1rem;
    margin-right: 2.8rem;
  }
  .directions-input2{
    height: 6rem;
    width: 30%;
    font-size: 1rem;
  }
  .directions-input2:hover{
    color: black;
    background-color: #9c7833;
  }

  .contact-map{
    width: 50%;
    margin-top: 4rem;
  }
  #map {
    width: 90%;
    height: 81%;
}
  



}