.section.contact{
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  display: flex;
}
.contact-radio:checked + .section.contact{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}

.contact-radio{
  display: none;
}
